body {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

/* 네비게이션바 */
.navbar {
    display: flex; /*나란히*/
    justify-content: space-between; /*가운데 정렬*/
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: mediumspringgreen;
}

.navbar__menu {
    display: flex;
    list-style: none; /*문자표 삭제*/
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px; /*상하, 좌우*/
}

.navbar__menu li:hover {
    background-color: mediumspringgreen;
    border-radius: 4px;
}

.navbar__btn {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.navbar__btn li {
    padding: 8px 12px;
}

.navbar__btn li input {
    padding: 4px;
}

.navbar__toggleBtn {
    position: absolute;
    right: 32px;
    font-size: 24px;
    display: none;
}

/*width 가 좁아질때*/
@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__btn {
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
    }
}

#tit{
    margin-top: 50px;
    color: #263343;
}

#analysis-contents{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

#analysis-btn{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: mediumspringgreen;
    border-color: mediumspringgreen;;
    font-weight: bold;
    border-radius: 5px;
}

/* 자기소개서 분석결과 페이지 */
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content > h3{
    font-size: 16px;
    margin-top: 20px;
}

.content > div{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
}

.content > div > form > textarea{
    padding: 20px;
}

#info4{
    font-size: 25px;
    text-align: left;
    margin-top: 80px;
    margin-left: 10%;
}

.resultSection{
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    /*text-align: match-parent;*/
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
    background: rgba(200, 207, 255, 0.44);
    border-radius: 20px;
}

.resultSection > h3 {
    text-align: left;
    margin-left: 40px;
    padding: 30px;
}

.keyword {
    display: flex;
    justify-content: flex-end; /*가운데 정렬*/
    /*align-items: end;*/
}

.keyword > div {
    display: block;

}

ol.toplist li {
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}

.resultSection > div > img {
    margin-left: 100px;
    margin-right: 50px;
    width: 400px;
    height: 300px;
}

/*.job{*/
/*    color: red;*/
/*}*/

/*.letter{*/
/*    font-size: 15px;*/
/*}*/

/*.strength{*/
/*    color: deeppink;*/
/*    text-decoration: none;*/
/*}*/